*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C3E50;
}
h3{
    background-color: #ffdcb5;
    padding:.5em;
    margin-block: 0.5em;
}
#id_form
{
    border: 1px solid white;
    height: 400px;
    background-color: #ECF0F1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:5px;
    margin: 3px;
    border-radius: 5px;
}

#id_name,#id_age
{
    padding:5px;
    margin-left: 1em;
    border:none;
    background-color: transparent;
    border-bottom: 2px solid #ffdcb5;
}

.btn
{
    margin-top: 1em;
    background-color: #102770;
}
